<section class="about-section">
  {{#each info}}
    <div class="about-block">
      <img src="{{img}}" alt="{{alt}}" />
      <div class="about-text">
        <h2>{{titulo}}</h2>
        <p>{{descripcion}}</p>
      </div>
    </div>
  {{/each}}
</section>
