<main>
    <section class="accesorios">
        <h1>Nuestros Accesorios</h1>
        <div class="grid-accesorio">
            <div class="accesorio-card">
                <img src="images/Accesorio-BodyGlideHer.jpg" alt="Body Glide Her">
                <h2>Body Glide Her</h2>
                <p>Precio: L500.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-BodyGlideBody.jpg" alt="Body Glide Body">
                <h2>Body Glide Body</h2>
                <p>Precio: L500.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-Portacelular.jpg" alt="Portacelular">
                <h2>Portacelular</h2>
                <p>Precio: L450.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-MediasCompresion.png" alt="Medias de Compresion Negro S-XL">
                <h2>Medias de Compresion Negro S-XL</h2>
                <p>Precio: L650.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-ChalecoAonijie.jpg" alt="Chaleco Aonijie Gris">
                <h2>Chaleco Aonijie Gris</h2>
                <p>Precio: L1400.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-SoftFlask.jpg" alt="Soft flask 17oz">
                <h2>Soft flask 17oz</h2>
                <p>Precio: L310.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-PajillaSoftFlask.png" alt="Soft flask 17oz">
                <h2>Pajilla para Soft Flask</h2>
                <p>Precio: L230.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-BoteNathanGris.jpg" alt="Soft flask 17oz">
                <h2>Bote Nathan Insulado Gris</h2>
                <p>Precio: L230.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-PortaNumero.jpg" alt="Porta número">
                <h2>Porta número</h2>
                <p>Precio: L250.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-CinturonHaissky.jpg" alt="Cinturón Haissky">
                <h2>Cinturón Haissky</h2>
                <p>Precio: L650.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-CinturonPYFK.jpg" alt="Cinturón PYFK con botes">
                <h2>Cinturón PYFK con botes</h2>
                <p>Precio: L920.00</p>
            </div>
            <div class="accesorio-card">
                <img src="images/Accesorio-MedalleroGrande.jpg" alt="Medallero grande">
                <h2>Medallero grande</h2>
                <p>Precio: L1250.00</p>
            </div>
        </div>
    </section>
</main>