<main>
    <section class="blog">
        <blog class="blog-item">
            <img src="images/Blog-Entrenamiento.jpg" alt="Entrenamiento" class="blog-image">
            <h2 class="blog-title">¿Cómo empezar a entrenar si nunca has hecho ejercicio?</h2>
            <p class="summary">Comenzar una rutina de ejercicio por primera vez puede parecer difícil, pero con los
                pasos adecuados es totalmente posible.Lo más importante es tener claro tu objetivo: ¿quieres bajar de
                peso, ganar fuerza, mejorar tu salud o simplemente moverte más?
                Comienza con sesiones cortas de 15 a 30 minutos y actividades sencillas como caminar, hacer sentadillas
                con tu peso corporal o ejercicios con bandas elásticas. No necesitas un gimnasio costoso; lo esencial es
                la constancia. Usa ropa cómoda, hidrátate bien y escucha a tu cuerpo. La clave es avanzar poco a poco
                sin exigirte demasiado al principio.</p>

        </blog>

        <blog class="blog-item">
            <img src="images/Blog-Dieta.jpg" alt="Dieta Balanceada" class="blog-image">
            <h2 class="blog-title">¿Qué comer antes y después de entrenar?</h2>
            <p class="summary">La alimentación en torno al ejercicio es clave para obtener buenos resultados. Antes de
                entrenar, lo ideal es comer algo ligero que te dé energía, como una banana, una tostada con mantequilla
                de maní o un batido de avena. Después del entrenamiento, tu cuerpo necesita recuperarse: una combinación
                de proteínas y carbohidratos ayuda a reconstruir el músculo y reponer energía.</p>

        </blog>

        <blog class="blog-item">
            <img src="images/Blog-RopaDeportiva.jpg" alt="Ropa Deportiva" class="blog-image">
            <h2 class="blog-title">Elegir la ropa deportiva adecuada para entrenar</h2>
            <p class="summary">Elegir la ropa adecuada para hacer ejercicio es más importante de lo que parece. No se
                trata solo de verse bien, sino de sentirse cómodo y rendir al máximo durante el entrenamiento. Lo
                primero que debes considerar es el tipo de actividad que vas a realizar.
                a ropa deportiva debe ajustarse al cuerpo sin apretar, para permitir libertad de movimiento. También hay
                que considerar el clima. Si vas a entrenar al aire libre, es recomendable usar capas: una camiseta
                ligera, un rompe vientos y, si hace frío, una sudadera térmica. Finalmente, no olvides que usar ropa
                deportiva de buena calidad evita rozaduras, malos olores y te permite concentrarte en tu entrenamiento
                sin distracciones.</p>
        </blog>
    </section>
</main>