<section class="testimonios">
  <h2>Lo que dicen nuestros corredores</h2>
  <div class="cards">
    {{#each testimonios}}
      <div class="card">
        <img src="{{imagen}}" alt="Foto de {{nombre}}" />
        <h4>{{nombre}}</h4>
        <p>{{mensaje}}</p>
      </div>
    {{/each}}
  </div>
</section>
