<div class="card">
    <img src="{{img}}" alt="run 1" />
    <div class="card-footer">
        <h3>{{title}}</h3>
        <p>{{body}}</p>
        <a href="https://wa.me/33694693" target="_blank">
            <button>Unirse al reto</button>
        </a>
    </div>
</div>