<section class="community">
            <h2>Una comunidad. Una pasión. Un mismo ritmo.</h2>
            <h2>Sé parte de la red de runners más vibrante. ¡Únete hoy!</h2>
            <div class="card">
                <a href="https://www.instagram.com/runnerspothn/" target="_blank" class="redes">
                    <img src="images/instagram.png" alt="Logo de Instagram" />
                    <p>Unirse a RunnerSpot</p>
                </a>
                <a href="https://wa.me/33694693" target="_blank" class="redes">
                    <img src="images/whatsapp.png" alt="Logo de Whatsapp" />
                    <p>Unirse a RunnerSpot</p>
                </a>
            </div>
        </section>