<h2 class="Subtitulo">Contacto</h2>
<div class="grid-container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 ">
            <div class="mitad-texto">
                <h2>Impulsa tu rendimiento con RunnerSpot</h2>
                <p>
                    En RunnerSpot nos dedicamos a ofrecer productos especializados para corredores: geles
                    energéticos, bebidas hidratantes,
                    snacks y accesorios pensados para mejorar tu experiencia y desempeño. Queremos acompañarte
                    en cada kilómetro.
                </p>

                <div class="contacto">
                    <h3 class="subtitulo3">Contacto</h3>
                    <p><strong>Dirección:</strong> City Mall San Pedro Sula, Avenida Circunvalación</p>
                    <p><strong>Teléfono:</strong> <a href="tel:+50433694693">+504 3369-4693</a></p>
                    <p><strong>WhatsApp:</strong> <a href="https://wa.me/33694693" target="_blank">+504
                            3369-4693</a></p>
                    <div class="redes-sociales">
                        <h3 class="subtitulo3">Síguenos en nuestras redes:</h3>
                        <a href="https://www.instagram.com/runnerspothn/" target="_blank">Instagram</a>
                    </div>
                </div>

                <div class="formulario-contacto">
                    <h3 class="subtitulo3">Formulario de Contacto Rápido, para temas mas serios</h3>
                    <form action="#" method="get">
                        <div>
                            <label for="nombre">Nombre:</label><br>
                            <input type="text" id="nombre" name="nombre" required>
                        </div>
                        <div>
                            <label for="correo">Correo electrónico:</label><br>
                            <input type="email" id="correo" name="correo" required>
                        </div>
                        <div>
                            <label for="mensaje">Mensaje:</label><br>
                            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
                        </div>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 ">
            <img src="/images/runner-panel.avif" alt="Mitad de imagen" />
        </div>
    </div>
</div>