<section class="events">
    <h2>Próximos Eventos</h2>
    <div class="event-cards">s
        {{#each cardeventos}}
            {{>cardevents
            card-title=cardtitle
            card-body=cardbody 
            }}
        {{/each}}
    </div>
</section>