<footer>
    <p>© 2025 RunnerSpot. Todos los derechos reservados.</p>
    <a href="https://www.instagram.com/runnerspothn/" target="_blank" >
        <img src="images/instagram.png" alt="Logo de Instagram">
    </a>
    <a href="https://wa.me/33694693" target="_blank">
        <img src="images/whatsapp.png" alt="Logo de Whatsapp" />
    </a>
</footer>