<section class="galeria seccion-contenedor">
    <h2>Usuarios usando nuestros productos</h2>
    <div class="imagenes">
        {{#each galeriacards}}
        <img src="{{imggaleria}}" alt="{{alt}}" />
        {{/each}}
    </div>
</section>