<header>
  <a href="index.html" class="logo">
    <img src="images/logo.jpg" alt="RunnerSpot Logo" />
    <span>RunnerSpot</span>
  </a>

  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav class="menu">
    <ul>
      <li class="dropdown">
        <input type="checkbox" id="submenu-toggle-productos" class="submenu-toggle" />
        <label for="submenu-toggle-productos" class="submenu-label">Productos</label>
        <ul class="submenu">
          <li><a href="productos_general.html">Catalogo general</a></li>
          <li><a href="accesorios.html">Accesorios</a></li>
          <li><a href="consumibles.html">Consumibles</a></li>
          
        </ul>
      </li>
      <li class="dropdown">
        <input type="checkbox" id="submenu-toggle-acerca" class="submenu-toggle" />
        <label for="submenu-toggle-acerca" class="submenu-label">Acerca de Nosotros</label>
        <ul class="submenu">
          <li><a href="nosotros.html">Nosotros</a></li>
          <li><a href="contactanos.html">Contáctanos</a></li>
          <li><a href="preguntas_frecuentes.html">FAQ</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <input type="checkbox" id="submenu-toggle-comunidad" class="submenu-toggle" />
        <label for="submenu-toggle-comunidad" class="submenu-label">Eventos y Comunidad</label>
        <ul class="submenu">
          <li><a href="eventos.html">Eventos</a></li>
          <li><a href="testimonios.html">Testimonios</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
