<header>
  <a href="index.html" class="logo">
    <img src="images/logo.jpg" alt="RunnerSpot Logo" />
    <span>RunnerSpot</span>
  </a>

  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav class="menu">
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li class="dropdown">
        <a href="#">Productos</a>
        <ul class="submenu">
          <li><a href="accesorios.html">Accesorios</a></li>
          <li><a href="consumibles.html">Consumibles</a></li>
        </ul>
      </li>
      <li><a href="nosotros.html">Nosotros</a></li>
      <li><a href="contactanos.html">Contacto</a></li>
      <li><a href="preguntas_frecuentes">FAQ</a></li>

    </ul>
  </nav>
</header>
