<section class="hero">
    <img src="images/runhd.jpg" alt="Corredores" class="hero-image">
    <div class="hero-content">
        <h1>Conecta. Corre. Comparte.</h1>
        <p>Explora eventos, retos, rutas y todo lo que hace vibrar a los runners como tú con nuestros
            accesorios.</p>
        <a href="accesorios.html">
            <button>Ver accesorios</button>
        </a>
    </div>
</section>