.hero-principal {
  width: 100%;
  overflow: hidden;

  .img-hero {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
  }
}

@media (min-width: 768px) {
  .hero-principal {
    .img-hero {
      height: 70vh;
    }
  }
}
